{% extends "layouts/product.njk" %}

{% from "nhsuk/components/card/macro.njk" import card %}

{% block main %}
  <main id="maincontent">
    {{ appHero({
      caption: caption,
      title: title,
      headingClasses: headingClasses,
      description: description,
      image: image,
      startButton: startButton
    }) }}

    <div class="app-section-white">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper">
          {{ appProseScope(intro | markdown) }}
        </div>
      </div>
    </div>

    <div class="nhsuk-width-container">
      <div class="nhsuk-main-wrapper">
        {{ appHeading({
          title: current_activity.title,
          level: 2,
          size: "l"
        }) }}
        {{ appProseScope(current_activity.content | markdown) }}

        {{ appHeading({
          title: current_activity.services.title,
          level: 3,
          size: "m"
        }) }}
        {{ appCardGroup(current_activity.services) }}

        {{ appProseScope(current_activity.footer | markdown) }}
      </div>
    </div>

    <div class="app-section-white">
      <div class="nhsuk-width-container">
        <div class="nhsuk-main-wrapper">
          {{ appHeading({
            title: notes.title,
            level: 2,
            size: "l"
          }) }}
          {{ appProseScope(notes.intro | markdown) }}

          <div class="nhsuk-u-reading-width">
            {% for link in links %}
              {% if loop.index0 < notes.size %}
                {% set descriptionHtml %}
                  <p class="nhsuk-body-s nhsuk-u-margin-bottom-2"><time class="nhsuk-u-secondary-text-colour" datetime="{{ link.date | isoDate }}">{{ link.date | nhsukDate }}</time></p>
                  {{ (link.description | markdown) }}
                {% endset %}

                {{ card({
                  secondary: true,
                  heading: link.title,
                  headingClasses: "nhsuk-u-font-size-22 nhsuk-u-margin-bottom-2",
                  headingLevel: 3,
                  href: link.href,
                  descriptionHtml: descriptionHtml
                }) }}
              {% endif %}
            {% endfor %}

            <p><a href="/notes" class="nhsuk-link">View all {{ links | length }} notes</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="nhsuk-width-container">
      <div class="nhsuk-main-wrapper">
        <h2 class="nhsuk-heading-l">{{ contact.title }}</h2>
        {{ appProseScope(contact.content | markdown) }}
      </div>
    </div>

  </main>
{% endblock %}
