{% extends 'template.njk' %}

{% block head %}
  <link rel="stylesheet" href="{{ "/styles/app.css" | url }}">
  <script src="{{ "/javascripts/nhsuk.min.js" | url }}" defer></script>
{% endblock %}

{% block header %}
  {{ header({
    service: {
      text: "Digital prevention services portfolio",
      href: "/"
    },
    navigation: {
      items: [
        {
          href: "/",
          text: "Home",
          current: (currentSection == "home")
        },
        {
          href: "/roadmap",
          text: "Roadmap",
          current: (currentSection == "roadmap")
        },
        {
          href: "/notes",
          text: "Notes",
          current: (currentSection == "notes")
        }
      ]
    }
  }) }}
{% endblock %}
