{% extends 'template.njk' %}
{% from 'back-link/macro.njk' import backLink %}

{% block head %}
  <link rel="stylesheet" href="{{ "/styles/app.css" | url }}">
  <script src="{{ "/javascripts/nhsuk.min.js" | url }}" defer></script>
{% endblock %}


{% block header %}
  {{ header() }}
{% endblock %}
