// Import NHS Frontend
@use "pkg:nhsuk-frontend/dist/nhsuk" as *;

// Our own components
@forward "links-list";

.app-section-white {
  background-color: white;
}

.nhsuk-hero .nhsuk-grid-column-one-half:last-child {
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.app-homepage-illustration {
  max-width: 75%;
  margin: 56px auto 0 auto;
}

@media (max-width: 767px) {
  .app-homepage-illustration {
    display: none;
  }
}
