{% extends 'layout.njk' %}

{% block pageTitle %}NHS Digital prevention services portfolio{% endblock %}

{% block main %}
<main id="maincontent" role="main">
  <div class="nhsuk-hero">
    <div class="nhsuk-width-container nhsuk-hero--border">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
          <div class="nhsuk-hero__wrapper">
            <h1 class="nhsuk-heading-l">Digital prevention services portfolio</h1>
            <p>Building the NHS that helps people stay well, before they need the NHS that makes them better</h1>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
        </div>
      </div>
    </div>
  </div>
  <div class="app-section-white">
    <div class="nhsuk-width-container">
      <div class="nhsuk-main-wrapper">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <p>Digital Prevention Services Portfolio (DPSP) is part of <a href="https://www.england.nhs.uk">NHS England</a>. <strong>Our goal is radical reimagination of preventative healthcare</strong>: we're helping <strong>more people</strong> need NHS care <strong>less often</strong>. We're creating more opportunities for people to live healthier lives. </p>

            <p>We play a central part in the government's high-level strategy to <a href="https://www.gov.uk/missions/nhs">build an NHS that's fit for the future</a>: </p>

            <p>analogue → digital<br />
              sickness → prevention<br />
              hospital → community </p>

            <p><strong>We build and maintain the essential digital infrastructure for NHS preventative healthcare</strong>. We build practical digital tools for patients and NHS staff; and provide specialist expertise in user research, service design, content, technology, and more. </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nhsuk-u-padding-top-4  nhsuk-u-padding-bottom-2">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h2 class="nhsuk-heading-l">Current activity</h2>
          <p>We're currently focusing our efforts on:</p>

          <ul class="nhsuk-u-margin-bottom-6">
            <li><strong>screening</strong> for breast cancer, bowel cancer and cervical cancer</li>
            <li>organising, managing and recording <strong>vaccinations</strong> for COVID-19, flu, RSV and pertussis, with teams devoted to infant, maternity and school vaccinations</li>
            <li><strong>personal digital prevention</strong>, primarily via the NHS App </li>
          </ul>
          <h3 class="nhsuk-heading-s">Services in active development</h3>
        </div>
      </div>

      <div class="nhsuk-grid-row nhsuk-card-group">
        <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2  nhsuk-card-group__item">

          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2"><a class="nhsuk-card__link" href="https://www.service-catalogue.nhs.uk/services/check-my-screening-record">Manage your screening</a></h3>
              <p class="nhsuk-card__description">A patient-facing service for checking screening history</p>
            </div>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2 nhsuk-card-group__item">

          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2"><a class="nhsuk-card__link" href="https://guide.ravs.england.nhs.uk">Record a vaccination</a></h3>
              <p class="nhsuk-card__description">Helps staff record vaccinations, and automatically updates patient records</p>
            </div>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2 nhsuk-card-group__item">

          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2"><a class="nhsuk-card__link" href="https://www.service-catalogue.nhs.uk/services/digital-nhs-health-check">NHS Health Check online</a></h3>
              <p class="nhsuk-card__description">A patient-facing service inside the NHS App</p>
            </div>
          </div>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2 nhsuk-card-group__item">

          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2"><a class="nhsuk-card__link" href="https://guide.manage-vaccinations-in-schools.nhs.uk/">Manage vaccinations in schools</a></h3>
              <p class="nhsuk-card__description">Used by NHS staff to manage school vaccination sessions</p>
            </div>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2 nhsuk-card-group__item">

          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2"><a class="nhsuk-card__link" href="https://digital.nhs.uk/services/vaccinations-national-booking-service/manage-your-appointments-guidance">Manage your appointments</a></h3>
              <p class="nhsuk-card__description">Used by vaccination staff to create and manage appointment availability</p>
            </div>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2 nhsuk-card-group__item">

          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2"><a class="nhsuk-card__link" href="https://www.service-catalogue.nhs.uk/services/cervical-screening-management-system">Cervical screening management system</a></h3>
              <p class="nhsuk-card__description">A tool for NHS staff running cervical screening clinics </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="app-section-white">
    <div class="nhsuk-width-container">
      <div class="nhsuk-main-wrapper">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h2 id="getmoredetail">Get more detail</h2>

            <p>Read our <a href="https://design-history.prevention-services.nhs.uk/">design histories</a> for detailed notes on current work in progress </p>

            <p>Explore the full list of prevention-related services from DPSP and partner organisations, using the <a href="https://www.service-catalogue.nhs.uk">digital prevention services catalogue</a>. Sort the catalogue by organisation to see a <a href="https://www.service-catalogue.nhs.uk/by-organisation#:~:text=my%20test%20results-,Digital%20Prevention%20Services,-Personalised%20Prevention">list of DPSP-specific services</a>. </p>

            <h2 id="notes">Notes</h2>

            <p>We encourage everyone in the DPSP team to work in the open as much as possible. Openness is one of our 4 team values – sharing our work openly is an excellent way to build trust and invite constructive feedback. </p>

            <p>Here are some recent notes from members of the team: </p>

            <ul>
              <li><a href="https://medium.com/@carolinefinucane/breaking-siloes-with-a-service-catalogue-515b41332c9a">Breaking siloes with a service catalogue</a>, by Caroline Finucane, Design Lead in DPSP's Vaccination Digital Services team (16 May 2025) </li>
              <li><a href="https://medium.com/@sarah-fisher/not-all-users-wear-smart-watches-on-digital-design-and-health-inequalities-f4357765dd2a">Not all users wear smart watches: on digital design and health inequalities</a>, by Sarah Fisher, Deputy Director of Policy, Strategy and Engagement in DPSP's Digital Screening team (23 April 2025) </li>
              <li><a href="https://www.england.nhs.uk/blog/transforming-digital-services-breast-screening/">Transforming digital services in breast screening</a>, by Katie Sheridan, Communications Lead in our Digital Screening team (14 April 2025) </li>
              <li><a href="https://medium.com/design-bootcamp/why-you-should-embrace-the-outcomes-over-outputs-mindset-b68152a039bf">Why you should embrace the 'outcomes over outputs' mindset</a>, by Veronika Jermolina in our Digital Prevention Services team (12 November 2024) </li>
            </ul>


            <h2 id="contactus">Contact us</h2>
            <p>Please get in touch with queries or questions. Send email to: england.digitalpreventionservices@nhs.net </p>
            <p><em>Last updated: (19 May 2025)</em> </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
