{% extends 'layout.njk' %}

{% block main %}
<div class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-heading-l">Helping more people stay healthy</h1>

          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Helping the NHS keep them that way</p>
          
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
      </div>
    </div>
  </div>
</div>
  <div class="nhsuk-width-container">
    <div class="nhsuk-main-wrapper" id="maincontent" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <p>Digital Prevention Services Portfolio (DPSP) is part of <a href="https://www.england.nhs.uk">NHS England</a>. We’re here to <strong>help build the NHS that keeps you well, before you need the NHS that makes you better</strong>. </p>

          <p>We play a central part in the government’s high-level strategy for the NHS: </p>

          <p>analogue → digital<br />
          sickness → prevention<br />
          hospital → community </p>

          <p>We build digital services, platforms and components to support NHS screenings, vaccinations, and personal prevention.</p>

          <p>Our 10-year goal is radical reimagination of preventative healthcare.</p>

          <ul>
            <li>Read our <a href="https://design-history.prevention-services.nhs.uk">design histories</a> for detailed notes on current work in progress </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="app-section-white nhsuk-u-padding-top-4  nhsuk-u-padding-bottom-2">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Current activity</h2>
      <p class="nhsuk-u-margin-bottom-6">Among other things, we&#8217;re working on: </p>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2">
          <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-1"><a href="https://www.service-catalogue.nhs.uk/services/digital-nhs-health-check">Health Check online</a></h3>
          <p>A patient-facing service inside the NHS App</p>
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2">
          <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-1"><a href="https://www.service-catalogue.nhs.uk/services/check-my-screening-record">Manage your screening</a></h3>
          <p>A patient-facing service for checking screening history, and correcting any errors</p>
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2">
          <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-1"><a href="https://guide.ravs.england.nhs.uk">Record a vaccination</a></h3>
          <p>A service to track which patient has been given which vaccination and when</p>
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2">
          <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-1"><a href="https://guide.manage-vaccinations-in-schools.nhs.uk">Manage vaccinations in schools</a></h3>
          <p>A service to help providers delivering school vaccinations</p>
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-u-margin-top-2">
          <h3 class="nhsuk-heading-s nhsuk-u-margin-bottom-1"><a href="https://digital.nhs.uk/services/vaccinations-national-booking-service/manage-your-appointments-guidance">Manage your appointments</a></h3>
          <p>A service for staff running vaccination clinics</p>
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-3">
          <p>For a full list, browse the <a href="https://www.service-catalogue.nhs.uk">prevention services catalogue</a>, which includes services from DPSP and other organisations. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="nhsuk-width-container">
    <div class="nhsuk-main-wrapper">
      <p>Queries? Questions? Contact us: <a href="mailto:england.digitalpreventionservices@nhs.net" class="nhsuk-link">england.digitalpreventionservices@nhs.net</a></p>
    </div>
  </div>
{% endblock %}
