@use "pkg:nhsuk-frontend/dist/nhsuk/core" as *;

// Extra NHS.UK Frontend components used by this app
@forward "pkg:nhsuk-frontend/dist/nhsuk/components/contents-list";

// NHS.UK Eleventy Plugin components
@forward "pkg:@x-govuk/nhsuk-eleventy-plugin";

.app-homepage {
  .app-section-white {
    background-color: nhsuk-colour("white");
  }

  .nhsuk-hero {
    .nhsuk-grid-row {
      @include nhsuk-flex;
    }

    .nhsuk-grid-column-one-third,
    .nhsuk-grid-column-two-thirds {
      @include nhsuk-flex-item;
    }
  }
}

.app-its-ok {
  @include nhsuk-responsive-padding(7);
  margin-top: nhsuk-spacing(7);
  background-color: nhsuk-colour("blue");
  color: nhsuk-colour("white");

  @include nhsuk-media-query($from: tablet) {
    display: flex;
    flex-direction: row;
  }

  .nhsuk-body {
    @include nhsuk-responsive-padding(9, "right");
  }

  .nhsuk-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }
}
